NODE_ENV=development
MONGO_URI= mongodb+srv://knshethia28_db_user:200806@demo0.vxqgsbq.mongodb.net/
JWT_SECRET=replace_with_a_long_random_secret
PORT=5000
CLIENT_ORIGIN=http://localhost:3000
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=300
GOOGLE_PLACES_API_KEY=<your_google_places_api_key>
GEOAPIFY_API_KEY=41096cc13de44fd7a506ecb86935f6fd